$firstBlack : #18181B;
$secondBlack: #27272A;
$nativeBlack: #000000;
$greenBlack: #01271C;
$footerBlack : #3F3F46;
$primary : #4CFDC7;
$red: #F43F5E;
$darkGray: #71717A;
$lightGray : #a1a1aa;
$grayBorder: #f4f4f5;
$green : #10b981;
$tablet: 1024px;
$mobileL: 768px;
$mobileM: 580px;
$mobileS: 480px;
$mobileXS: 380px;
$br: 4px;
$tablePadding : 16px 0px;

@font-face {
  font-family: "regular";
  src: url("../fonts/regular.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/bold.ttf");
}

body {
  font-family: "regular", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0px 32px;
  margin: 0 auto;
}

nav {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;

    .logo {
      .full__logo {
        display: block;
      }

      .mobile__logo {
        display: none;
      }
    }

    .nav__items {
      display: flex;
      align-items: center;
      gap: 32px;

      .mobile__menu__btn {
        display: none;
        cursor: pointer;
      }

      .nav__menu {
        display: flex;
        gap: 32px;

        li {
          list-style-type: none;

          a {
            color: $firstBlack;
            text-decoration: none;
          }
        }
      }

      .nav__btns {
        display: flex;
        gap: 8px;

        button {
          border-radius: $br;
          padding: 9px 17px;
          cursor: pointer;
          color: $firstBlack;
          font-size: 12px;

          &#login {
            border: 1px solid $firstBlack;
            background: transparent;
          }

          &#signup {
            border: 1px solid $primary;
            background: $primary;
            color: $greenBlack;
          }
        }
      }
    }

    @media screen and (max-width: 890px) {
      .logo {
        svg {
          width: 152px;
          height: 16px;
        }
      }

      .nav__items {
        gap: 16px;

        .nav__menu {
          gap: 16px;
        }
      }
    }

    @media screen and (max-width: $mobileL) {
      .logo {
        svg {
          width: unset;
          height: unset;
        }

        .full__logo {
          display: none;
        }

        .mobile__logo {
          display: block;
          width: 100%;
        }
      }

      .nav__items {
        .nav__menu {
          display: none;
        }

        .mobile__menu__btn {
          display: block;
        }
      }
    }

    @media screen and (max-width: $mobileXS) {
      .nav__items {
        .mobile__menu__btn {
          svg {
            width: 30px;
          }
        }

        .nav__btns {
          button {
            padding: 6px 12px;
          }
        }
      }
    }
  }
}

header {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 130px;
    gap: 64px;

    .header__left {
      max-width: 659px;

      h1 {
        font-size: min(71px, max(40px + 2vw));
        font-weight: 400;
        color: $nativeBlack;
        margin: 0px;
      }

      p {
        margin: 34px 0px;
        max-width: 461px;
        color: $secondBlack;
      }

      .header__left__btns {
        display: flex;
        gap: 16px;
        margin-bottom: 16px;

        a {
          display: block;
          padding: 9px 33px;
          border-radius: $br;
          text-decoration: none;

          &:nth-child(1) {
            background: $primary;
            color: $greenBlack;
          }

          &:nth-child(2) {
            background: transparent;
            color: $firstBlack;
            border: 1px solid $firstBlack;
          }
        }
      }

      .header__left__stars {
        display: flex;
        align-items: center;
        gap: 8px;
        user-select: none;
        color: $secondBlack;
      }
    }

    .header__right {
      .header__right__img {
        img {
          display: block;
        }
      }
    }

    @media screen and (max-width: $mobileL) {
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      padding-top: 65px;

      .header__left {

        .header__left__btns,
        .header__left__stars {
          justify-content: center;
        }
      }
    }

    @media screen and (max-width: $mobileS) {
      padding-top: 32.5px;

      .header__left {
        .header__left__btns {
          flex-wrap: wrap;

          a {
            width: 100%;
          }
        }
      }

      .header__right {
        .header__right__img {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

main {
	.markets__section {
		.markets {
			box-shadow: 0px 0px 16px rgba(9, 24, 26, 0.04);
			border-radius: $br;
			padding: 32px;
			margin-top: 32px;

			.markets__nav {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 32px;

				h4 {
					font-weight: 400;
					color: $darkGray;
					cursor: pointer;

					&.active {
						color: $firstBlack;
					}
				}
			}

			.markets__table {
				overflow-y: hidden;
				overflow-x: auto;

				table {
					border-collapse: collapse;
					width: 100%;

					tbody {
						tr {
							border-bottom: 1px solid $grayBorder;

							th {
								padding: $tablePadding;
								text-align: left;
								color: $firstBlack;
								font-weight: 400;
								border-top: 1px solid $grayBorder;
							}

							td {
								padding: $tablePadding;
								color: $firstBlack;
								font-weight: 400;

								span {

									&.aud {
										color: $lightGray;
										font-size: 14px;
									}

									&.up {
										color: $green;
									}

									&.down {
										color: $red;
									}
								}

								&:nth-child(1),
								&:nth-child(3) {
									display: flex;
									align-items: center;
									gap: 16px;
								}

								a {
									display: block;
									text-decoration: none;
									padding: $tablePadding;
									background: $primary;
									border-radius: $br;
									color: $greenBlack;
									cursor: pointer;
									text-align: center;
									font-size: 12px;
								}
							}
						}
					}

					@media screen and (max-width: $mobileL) {
						width: 800px;
					}
				}
			}

			.markets__view__all {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 16px;
				margin-top: 22px;

				a {
					color: $firstBlack;
					text-decoration: none;
				}
			}

			@media screen and (max-width: 460px) {
				.markets__nav {
					flex-wrap: wrap;
					margin-bottom: 16px;
					gap: 16px;

					h4 {
						margin: 0px;
						width: 100%;
						text-align: center;
					}
				}

				.markets__view__all {
					flex-wrap: wrap;

					svg:nth-child(1) {
						width: 100%;
					}
				}
			}
		}

		.why__btc__markets {
			margin-top: 64px;

			h2 {
				text-align: center;
				font-size: min(48px, max(25px + 2vw));
				font-weight: 400;
				margin: 0;
			}

			.wbm__items {
				display: flex;
				justify-content: center;
				gap: 64px;
				margin-top: 128px;

				.wbm__item {
					text-align: center;
					max-width: 250px;

					.wbm__icon {
						margin-bottom: 32px;
					}

					h4 {
						margin: 0;
						color: $firstBlack;
						font-weight: 400;
						font-size: 20px;
					}

					p {
						color: $secondBlack;
						line-height: 24px;
						letter-spacing: 0.2px;
					}
				}

				@media screen and (max-width: $mobileL) {
					flex-wrap: wrap;
					margin-top: 64px;
				}
			}
		}
	}

	.trade__section {
		h4 {
			font-weight: 400;
			color: $firstBlack;
			font-size: 16px;
			width: 100%;
		}

		.trade__section__blocks {
			display: flex;
			justify-content: space-between;
			gap: 32px;

			.trade__section__left {
				flex: 1 1 550px;

				h2 {
					font-size: min(40px, max(20px + 2vw));
					font-weight: 400;
					color: $firstBlack;
				}

				.trade__items {
					display: flex;
					flex-wrap: wrap;
					margin-top: 64px;
					gap: 32px;

					.trade__item {
						flex: 1 1 calc(100%/3);

						h6 {
							font-size: 16px;
							color: $firstBlack;
							font-weight: 400;
							margin: 8px 0px 18px 0px;
						}

						p {
							color: $secondBlack;
							font-size: 15px;
							line-height: 24px;
						}
					}
				}
			}

			.trade__section__right {
				flex: 1 1 550px;

				.trade__section__right__img {
					img {
						width: 100%;
					}
				}
			}

			@media screen and (max-width: $tablet) {
				flex-wrap: wrap;
			}

			@media screen and (max-width: $mobileM) {
				.trade__section__left {
					h2 {
						text-align: center;
					}

					.trade__items {
						.trade__item {
							flex: 1 1 100%;
							text-align: center;
						}
					}
				}
			}
		}
	}
}